{% extends "layout.html" %}

{% block body %}
<table>
<tr>
<td>
  <b>Animals of current user:</b>
</td> </tr>
<tr>
<td>Number of animals: </td> 

{% for counte in counts %}
  <td>{{ counte.count }}</td>
</tr>
{% endfor %}
</table>

{% for animal in currentanimals %}
<table cellspacing="4" cellpadding="4">
    <tr>
      <td style="width:80px">{{ animal.name }}</td>      
      <td style="width:100px"><a href="{{ url_for('animals_show_animal', animal_id=animal.id) }}">Show animal</a></td>
      <td></td>    

      <td>
        <form method="POST" action="{{ url_for('animals_set_sick', animal_id=animal.id) }}">
          <input type="submit" value="Animal sick/healthy"/>
        </form>
            </td>
            {% if animal.sick == 1 %} 
            <td style="width:60px">sick</td> 
            {% else %}
            <td style="width:60px">healthy</td>
            {% endif %}
        <td style="width:80px"><form method="GET" action="{{ url_for('animals_delete', animal_id=animal.id) }}">
            <input type="submit" value="Delete animal"/></form></td>
    </tr> 
  </table> 
{% endfor %}
  
  <table>
    <tr>
    <td>
      <th>Animals of current user eat:</th>
    </td>  
    </tr>
    </table>
    {% for food in currentfoods %}
    <table>
      <tr> 
        <td>{{ food.name }} </td>   
      </tr>
    </table>
    {% endfor %}
  
{% endblock %}