{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>        
      <td><b>Animals</b></td>
      <td></td>  
      <td></td>     
    </tr>
         
    <tr>   
      {% for animal in animals %}   
      <td style="width:70px">{{ animal.name }}</td> 
      {% if animal.sick == True %}
      <td style="width:70px">sick</td>
      {% else %}
      <td style="width:70px">healthy</td>
      {% endif %}
      <td style="width:150px"><a href="{{ url_for('animals_show_animal', animal_id=animal.id) }}">Show animal details</a></td>     
    </tr>
    {% endfor %}
  </table>
  <table>
    <tr>        
      <td style="width:100px"><b>All foods</b></td>
      <td style="width:150px"><a href="{{ url_for('new_food_form') }}">Add a new food</a></td>   
    </tr>         
       
      {% for food in foods %}   
        <tr><td>{{ food.name }}</td>
          <td style="width:150px"><a href="{{ url_for('show_food', food_id=food.id)}}">Show food details</a></td>
          <td style="width:100px"><a href="{{ url_for('show_update_food', food_id=food.id)}}">Edit food</a></td>
          <td style="width:100px"><a href="{{ url_for('show_animals_per_food', food_id=food.id)}}">See animals</a></td>
          <td><form method="GET" action="{{ url_for('foods_delete', food_id=food.id) }}">
            <input type="submit" value="Delete food"/></form></td>
        </tr>
      {% endfor %}  
  </table>
  <table>
      
  </table>
{% endblock %}