{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>        
      <th>Animals</th>       
    </tr>
    
    {% for animal in animals %} 
    <tr>      
      <td>{{ animal.name }}</td> 
      <td><a href="{{ url_for('animals_show_animal', animal_id=animal.id) }}">Show animal</a></td>
      <td><form method="GET" action="{{ url_for('animals_delete', animal_id=animal.id) }}">
      <input type="submit" value="Delete animal"/></form></td>     
    </tr>
    {% endfor %}
  
  </table>
{% endblock %}