{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>        
      <td><b>Animals</b></td>
      <td></td>  
      <td></td>     
    </tr>
         
    <tr>   
      {% for animal in animals %}   
      <td>{{ animal.name }}</td> 
      {% if animal.sick == True %}
      <td>sick</td>
      {% else %}
      <td>healthy</td>
      {% endif %}
      <td><a href="{{ url_for('animals_show_animal', animal_id=animal.id) }}">Show animal details</a></td>     
    </tr>
    {% endfor %}
  
  </table>
{% endblock %}