{% extends "layout.html" %}
  
{% block body %}
<th><b>Animal data</b></th> 
<table>
  <tr>         
  </tr>
  <tr>
    <td style="width:100px"><b>Name</b></td>   
    <td style="width:100px"><b>Owner</b></td>
    <td style="width:70px"><b>Sick</b></td>
    <td style="width:100px"><b>Food</b></td>    
  </tr>
  <tr>       
    <td>{{ animal.name }}</td>   
    <td>{{ owner.name }}</td>
    {% if animal.sick == True %}
    <td>yes</td>
    {% else %}
    <td>no</td>
    {% endif %}
    {% for food in foods %}
    <td>{{ food.name }}</td><tr></tr><td></td><td></td><td></td> 
    {% endfor %}
    <tr>      
    </tr>
</table>
{% if current_user.is_authenticated %}
<table>
  <tr><b>Available foods</b></tr>
  {% for food in allfoods %}
  <tr>
    <td>{{ food.name }}</td>
    <td><form method="POST" action="{{ url_for('food_add', animal_id=animal.id, food_id=food.id) }}">
      <input type="submit" value="Add food"></td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}